*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
html, body{
    height: 100%;
    width: 100%;
    min-width: 380px;
}
.loginPage{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url(../images/loginBg.png);
    background-size: cover;
}

.login-container {
    /* position: absolute; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin-left: 11%;
}

.login-box {
    padding: 40px;
    border-radius: 10px;
    max-width: 550px;
    width: 100%;
    margin-top: 40px;
}

.login-box  h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
    
}
.login-box  h2 span{
    font-family: "kaisei Decol", serif;
    font-weight: 200;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ffffff;
    opacity: 0.8;
    
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    max-width: 420px;
    height: 50px;
}

input::placeholder {
    color: #a9a9a9;
}

.forgot-password {
    display: block;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 400;
    opacity: 0.8;
}

.login-btn {
    background-color: #DD9F44;
    color: white;
    border: none;
    width: 250px;
    height: 58px;
    padding: 12px;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: all 0.3s ease;
}

.login-btn:hover {
    background-color: #DD9F44;
    transform: scale(0.97);
}

.signup-text {
    font-size: 18px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 400;
   
}

.signup-link {
    color: #ff9800;
    text-decoration: none;
    font-weight: bold;
}



@media(max-width: 480px) {
    .login-container {
        margin-left:0%;
    }
}

@media(min-width: 481px) and (max-width:768px){
    .login-container {
        margin-left:6%;
    }
}
@media(min-width: 769px) and (max-width:1024px){
    .login-container {
        margin-left:8%;
    }
}
@media(min-width: 1025px) and (max-width:1270px){
    .login-container {
        margin-left:10%;
    }
}
